body{
    background-color: rgb(245, 187, 132);
}

#borrador{
    background-color: rgb(245, 187, 132);
    border: none;
    color: white;
    outline:none;
    outline-width: 0px;
}

#inp{
    outline: none;
    width: 100%;
    outline-color: rgb(245, 187, 132);
    background-color: rgb(88, 151, 153);
    border: none;
}
